<% content_for :title, "Client Login" %>

<%= form_for(:client_session, url: client_sessions_path) do |f| %>
  <div class="row text-center">
    <div class="small-12 medium-8 medium-centered columns">
      <div class="panel">

        <h1>Client Login</h1>
        <hr />

        <%= f.label :id, "ID Number" %>
        <%= f.text_field :id, placeholder: "Identification Number" %>

        <%= f.label :password, "Password" %>
        <%= f.password_field :password, placeholder: "Password" %>

        <%= label_tag "Remember Me" %>
        <div class="switch">
          <%= f.check_box :remember %>
          <%= f.label :remember, " " %>
        </div>

        <hr />
        
        <%= button_tag type: "submit", class: "button expand" do %>
          <i class="fa fa-sign-in"></i>&emsp;Log In
        <% end %>
      </div>
    </div>
  </div>

<% end %>
