<% content_for :title, "New Behavior Report" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Submit Behavior Report</h1>
  </div>

  <%= form_for @behavior_report, layout: :basic do | f | %>
    <div class="panel-body">
      <% if current_client.behaviors.active.size > 0 %>
          <%= f.label "Behavior" %><br />
          <%= f.collection_select :behavior_id, current_client.behaviors.active, :id, :description, {}, {class: "selectpicker form-control"} %>
          <br /><br />
          <%= f.number_field :occurrences, :in => 0..100, :step => 1, :value => 1, label: "Number of Occurrences" %>
      <% else %>
        You do not have any assigned behaviors.
      <% end %>
    </div>
    <div class="panel-footer">
      <%= f.submit "Submit Report", id: "submit-report", class: "btn btn-primary btn-block btn-lg" %>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to logout_path, method: "delete", class: "btn btn-danger btn-block btn-lg" do %>
      <i class="fa fa-sign-out"></i>&emsp;Log Out
    <% end %>
  </div>
</div>
