<% content_for :title, "New Behavior Report" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Submit Behavior Report</h1>
  </div>

  <div class="panel-body">
    <% if current_client.behaviors.active.size > 0 %>
      <%= form_for @behavior_report, layout: :basic do | f | %>
        <%= f.label "Behavior" %><br />
        <%= f.collection_select :behavior_id, current_client.behaviors.active, :id, :description %>
        <%= f.number_field :occurrences, :in => 0..100, :step => 1, :value => 1, label: "Number of Occurrences" %>
        <%= f.submit "Submit Report", id: "submit-report", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      You do not have any assigned behaviors.
    <% end %>
  </div>

  <div class="panel-footer">
    <%= link_to logout_path, method: "delete", class: "btn btn-danger " do %>
      <i class="fa fa-sign-out"></i>&emsp;Log Out
    <% end %>
  </div>
</div>
