<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
        <Row>
          <Cell><Data ss:Type="String">Behavior ID</Data></Cell>
          <Cell><Data ss:Type="String">Behavior Description</Data></Cell>
          <Cell><Data ss:Type="String">Client ID</Data></Cell>
          <Cell><Data ss:Type="String">Client Last Name</Data></Cell>
          <Cell><Data ss:Type="String">Times Reported</Data></Cell>
          <Cell><Data ss:Type="String">Occurrences</Data></Cell>
          <Cell><Data ss:Type="String">Created At</Data></Cell>
          <Cell><Data ss:Type="String">Removed?</Data></Cell>
          <Cell><Data ss:Type="String">Updated At</Data></Cell>
        </Row>
      
        <% @behaviors.each do | behavior | %>
          <Row>
            <Cell><Data ss:Type="Number"><%= behavior.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= behavior.description %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= behavior.client.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= behavior.client.last_name %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= behavior.report_count %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= behavior.occurrence_count %></Data></Cell>
            <Cell><Data ss:Type="String"><%= behavior.timestamp %></Data></Cell>
            <Cell><Data ss:Type="String"><%= behavior.removed ? "Yes" : "No" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= behavior.updated_timestamp %></Data></Cell>
          </Row>
        <% end %>
    </Table>
  </Worksheet>
</Workbook>

