<% content_for :title, "Editing User" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Edit User</h1>
  </div>
  <%= form_for @user, layout: :basic do | f | %>
  <div class="panel-body">
    <%= f.text_field :email %>
    <%= f.text_field :first_name, label: "First Name" %>
    <%= f.text_field :last_name, label: "Last Name" %>
  </div>
  <div class="panel-footer">
    <%= f.submit class: "btn btn-primary" %>
    <% if user_signed_in? && @user == current_user %>
      <%= link_to edit_user_registration_path, class: "btn btn-info" do %>
        <i class="fa fa-key"></i>&emsp;Change Password
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
