<div class="row text-center">
  <div class="small-12 columns">

    <h1>All Users</h1>

    <div class="panel">

      <table id="users-table">
        <thead>
          <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th width="100">Clients</th>
            <th width="150">Administrator?</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do | user | %>
          <tr>
            <td>
              <%= link_to user do %>
                <%= user.email %>
              <% end %>
            </td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.clients.size %></td>
            <td>
              <% if user == current_user %>
                Yes
              <% else %>
                <%= link_to "#{user.is_admin ? 'Yes' : 'No'}", controller: "users", :action => "toggle_admin", :id => user %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to new_user_path, class: "button" do %>
        <i class="fa fa-plus"></i>&emsp;New User
      <% end %>

    </div>
  </div>
</div>