- content_for :title, "New User"
= form_for @user, layout: :basic do | f |
  .panel.panel-default
    .panel-heading
      %h1 New User
    .panel-body
      .row
        .col-xs-12
          = f.text_field :email
      .row
        .col-xs-12.col-md-6
          = f.password_field :password
        .col-xs-12.col-md-6
          = f.password_field :password_confirmation, label: "Confirm Password"
      .row
        .col-xs-12
          = f.text_field :first_name, label: "First Name"
      .row
        .col-xs-12
          = f.text_field :last_name, label: "Last Name"
    .panel-footer
      = f.submit class: "btn btn-primary "
