<% content_for :title, "New User" %>

<%= form_for @user, layout: :basic do | f | %>
<div class="panel panel-default">
    <div class="panel-heading">
      <h1>New User</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= f.password_field :password %>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= f.password_field :password_confirmation, label: "Confirm Password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.text_field :first_name, label: "First Name" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.text_field :last_name, label: "Last Name" %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= f.submit class: "btn btn-primary " %>
    </div>
</div>
<% end %>
