<% content_for :title, "New User" %>

<div class="row text-center">
  <div class="small-12 medium-8 medium-centered columns">

    <h1>New User</h1>

    <div class="panel">
      <%= form_for @user do | f | %>

        <div class="row">
          <div class="small-12 columns">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <%= f.password_field :password %>
          </div>

          <div class="small-12 medium-6 columns">
            <%= f.password_field :password_confirmation, label: "Confirm Password" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <%= f.text_field :first_name, label: "First Name" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <%= f.text_field :last_name, label: "Last Name" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <%= f.submit class: "button expand" %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>