- content_for :title, "Viewing #{@user.email}"
.panel.panel-default
  .panel-heading
    %h1 #{@user.email}'s clients
  .panel-body
    %table#per-user-clients.table.table-striped.table-hover
      %thead
        %tr
          %th.min-mobile-l{:width => "200"} Client ID
          %th.all Last Name
          %th.min-tablet-l Edit
      %tbody
        - @clients.each do | client |
          %tr
            %td= client.id
            %td
              = link_to client do
                = client.last_name
            %td
              = link_to edit_client_path client do
                %i.fa.fa-edit>
                 Edit
