<%= form_for @client, layout: :basic do | f | %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>
        <%= heading %>
        <% if @client.id %>
          &nbsp;<small>Client ID: <%= @client.id %></small>
        <% end %>
      </h1>
    </div>
    <div class="panel-body">
      <%= f.text_field :last_name, label: "Last Name" %>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= f.password_field :password, label: "Password" %>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= f.password_field :password_confirmation, label: "Confirm Password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label "Assigned To" %>
          <br />
          <%= f.collection_select :user_id, User.all, :id, :email %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= f.submit class: "btn btn-primary " %>
    </div>
  </div>
<% end %>
