<%= form_for @client do | f | %>

  <div class="row text-center">
    <div class="small-12 medium-8 medium-centered columns">
      
      <div class="panel">
      
        <%= f.text_field :last_name, label: "Last Name" %>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <%= f.password_field :password, label: "Password" %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= f.password_field :password_confirmation, label: "Confirm Password" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <%= f.collection_select :user_id, User.all, :id, :email, label: "Assigned To" %>
          </div>
        </div>

        <%= f.submit class: "button expand" %>
      
      </div>

    </div>
  </div>

<% end %>