<% content_for :title, "Clients" %>

<div class="row text-center">
  <div class="small-12 columns">
    <h1>Clients</h1>
    <hr />
  </div>
</div>

<div class="show-for-large-up">
  <div class="row text-center">
    <div class="small-12 columns">
      <div class="panel">
        <table id="clients">
          <thead>
            <tr>
              <th width="125">Client ID</th>
              <th>Last Name</th>
              <th>Managed By</th>
              <th width="100">Edit</th>
              <th width="120">Remove</th>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do | client | %>
              <tr>
                <td><%= client.id %></td>
                <td>
                  <%= link_to client do %>
                    <%= client.last_name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to client.user.email, client.user %>
                </td>
                <td>
                  <%= link_to edit_client_path client do %>
                    <i class="fa fa-edit"></i>&emsp;Edit
                  <% end %>
                </td>
                <td>
                  <%= link_to '<i class="fa fa-times"></i>&emsp;Remove'.html_safe, {controller: "clients", action: "remove", id: client}, data: {confirm: "Are you sure you would like to remove this client?\nThis will also remove all of this client\'s behaviors and all reports related to those behaviors."} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to new_client_path, class: "button" do %>
          <i class="fa fa-plus"></i>&emsp;New Client
        <% end %>

      </div>

    </div>
  </div>
</div>

<div class="show-for-medium-down">
  <div class="row text-center">
    <div class="small-12 columns">
      <%= link_to new_client_path, class: "button expand" do %>
        <i class="fa fa-plus"></i>&emsp;New Client
      <% end %>
      <%= page_entries_info @mobile_clients %>
      <br /><br />
      <%= paginate @mobile_clients %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">  
      <ul class="small-block-grid-1 medium-block-grid-2">
        <% @mobile_clients.each do | client | %>
          <li>
            <ul class="pricing-table">
              <li class="title"><strong><%= client.last_name %></strong></li>
              <li class="bullet-item">Client ID: <%= client.id %></li>
              <li class="bullet-item"><%= link_to client.user.email, client.user %></li>
              <li class="cta-button">
                <%= link_to client, class: "button expand" do %>
                  <i class="fa fa-search"></i>&emsp;View
                <% end %>
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <%= link_to edit_client_path(client), class: "button expand" do %>
                      <i class="fa fa-edit"></i>&emsp;Edit
                    <% end %>
                  </div>
                  <div class="small-12 medium-6 columns">
                    <%= link_to '<i class="fa fa-times"></i>&emsp;Remove'.html_safe, {controller: "clients", action: "remove", id: client}, data: {confirm: "Are you sure you would like to remove this client?\nThis will also remove all of this client\'s behaviors and all reports related to those behaviors."}, class: "button expand alert" %>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row text-center">
    <div class="small-12 medium-12 large-12 columns">
      <%= paginate @mobile_clients %>
      <%= page_entries_info @mobile_clients %>
      <hr />
    </div>
  </div>

</div>