<% content_for :title, "Clients" %>

<div class="row text-center">
  <div class="small-12 columns">
    <h1>Clients</h1>
    <hr />
  </div>
</div>

<div class="row text-center">
  <div class="small-12 columns">
    <div class="panel">
      <table id="clients">
        <thead>
          <tr>
            <th width="125">Client ID</th>
            <th>Last Name</th>
            <th>Managed By</th>
            <th width="100">Edit</th>
            <th width="120">Remove</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.active.each do | client | %>
            <tr>
              <td><%= client.id %></td>
              <td>
                <%= link_to client do %>
                  <%= client.last_name %>
                <% end %>
              </td>
              <td>
                <%= link_to client.user.email, client.user %>
              </td>
              <td>
                <%= link_to edit_client_path client do %>
                  <i class="fa fa-edit"></i>&emsp;Edit
                <% end %>
              </td>
              <td>
                <%= link_to '<i class="fa fa-times"></i>&emsp;Remove'.html_safe, {controller: "clients", action: "remove", id: client}, data: {confirm: "Are you sure you would like to remove this client?\nThis will also remove all of this client\'s behaviors and all reports related to those behaviors."} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to new_client_path, class: "button" do %>
        <i class="fa fa-plus"></i>&emsp;New Client
      <% end %>

    </div>

  </div>
</div>