<% content_for :title, "Clients" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Clients</h1>
  </div>
  <div class="panel-body">
    <table id="clients" class="table table-striped table-hover responsive no-wrap">
      <thead>
        <tr>
          <th width="125" class="min-tablet-l">Client ID</th>
          <th class="all">Last Name</th>
          <th class="min-tablet-l">Managed By</th>
          <th width="100" class="min-tablet-p">Edit</th>
          <th width="120" class="min-tablet-p">Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do | client | %>
          <tr>
            <td><%= client.id %></td>
            <td>
              <%= link_to client do %>
                <%= client.last_name %>
              <% end %>
            </td>
            <td>
              <%= link_to client.user.email, client.user %>
            </td>
            <td>
              <%= link_to edit_client_path client do %>
                <i class="fa fa-edit"></i>&emsp;Edit
              <% end %>
            </td>
            <td>
              <%= link_to '<i class="fa fa-times"></i>&emsp;Remove'.html_safe, {controller: "clients", action: "remove", id: client}, data: {confirm: "Are you sure you would like to remove this client?\nThis will also remove all of this client\'s behaviors and all reports related to those behaviors."}, class: "text-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <%= link_to new_client_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>&emsp;New Client
    <% end %>
  </div>
</div>
