<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
        <Row>
          <Cell><Data ss:Type="String">Client ID</Data></Cell>
          <Cell><Data ss:Type="String">Client Name</Data></Cell>
          <Cell><Data ss:Type="String">Current Behaviors</Data></Cell>
          <Cell><Data ss:Type="String">All Behaviors</Data></Cell>
          <Cell><Data ss:Type="String">Created On</Data></Cell>
          <Cell><Data ss:Type="String">Removed?</Data></Cell>
          <Cell><Data ss:Type="String">Updated On</Data></Cell>
        </Row>
      
        <% @clients.each do | client | %>
          <Row>
            <Cell><Data ss:Type="Number"><%= client.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.last_name %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= client.behaviors.active.size %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= client.behaviors.size %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.timestamp %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.removed ? "Yes" : "No" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.updated_timestamp %></Data></Cell>
          </Row>
        <% end %>
    </Table>
  </Worksheet>
</Workbook>

