<% content_for :title, "Clients" %>

<div class="row text-center">
  <div class="small-12 columns">
    <h1><%= current_user.is_admin ? "All" : "My" %> Clients</h1>
    <hr />
  </div>
</div>

<div class="row text-center">
  <div class="small-12 columns">
    <div class="panel">
      <table id="clients">
        <thead>
          <tr>
            <th width="125">Client ID</th>
            <th>Last Name</th>
            <% if current_user.is_admin %>
              <th>Managed By</th>
            <% end %>
            <th width="125">Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do | client | %>
            <tr>
              <td><%= client.id %></td>
              <td>
                <%= link_to client do %>
                  <%= client.last_name %>
                <% end %>
              </td>
              <% if current_user.is_admin %>
                <td>
                  <%= link_to client.user.email, client.user %>
                </td>
              <% end %>
              <td>
                <%= link_to edit_client_path client do %>
                  <i class="fa fa-edit"></i>&emsp;Edit
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to new_client_path, class: "button" do %>
        <i class="fa fa-plus"></i>&emsp;New Client
      <% end %>

    </div>

  </div>
</div>