<% content_for :title, "View Client #{@client.id}" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= @client.last_name %>
      &nbsp;<small>Client ID: <%= @client.id %></small>
    </h1>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Assigned Behaviors</h3>
      </div>
      <div class="panel-body">
        <table id="behaviors" class="table table-striped table-hover responsive no-wrap">
          <thead>
            <tr>
              <th class="all" width="200">Behavior</th>
              <th class="min-tablet-p">Times Reported</th>
              <th class="all">Occurrences</th>
              <th class="min-tablet-l">Edit</th>
              <th class="min-tablet-l">Remove</th>
            </tr>
          </thead>
            <% @active_behaviors.each do | behavior | %>
              <tr>
                <td><%= behavior.description %></td>
                <td><%= behavior.report_count %></td>
                <td><%= behavior.occurrence_count %></td>
                <td>
                  <%= link_to edit_behavior_path behavior do %>
                    <i class="fa fa-edit"></i>&emsp;Edit
                  <% end %>
                </td>
                <td>
                  <%= link_to '<i class="fa fa-times"></i>&emsp;Remove'.html_safe, {controller: "behaviors", action: "remove", id: behavior}, data: {confirm: "Are you sure you would like to remove this behavior?\nThis will also remove all reports related to this behavior."}, class: "text-danger" %>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
      <div class="panel-footer">
        <div class="button-group">
          <a href="#" data-toggle="modal" data-target="#new-behavior" class="btn btn-primary">
            <i class="fa fa-plus"></i>&emsp;Add Behavior
          </a>
          <%= link_to client_path(format: "xlsx", export: "behaviors"), class: "btn btn-success" do %>
            <i class="fa fa-file-excel-o"></i>&emsp;Export
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Behavior Reports</h3>
      </div>
      <div class="panel-body">
        <table id="reports" class="table table-striped table-hover responsive no-wrap">
          <thead>
            <tr>
              <th class="all" width="200">Behavior</th>
              <th class="all">Occurrences</th>
              <th class="min-tablet-p">Reported On</th>
              <th class="min-tablet-l">Edit</th>
              <th class="min-tablet-l">Remove</th>
            </tr>
          </thead>
            <% @active_reports.each do | report | %>
              <tr>
                <td><%= report.behavior.description %></td>
                <td><%= report.occurrences %></td>
                <td><%= report.timestamp %></td>
                <td>
                  <%= link_to edit_behavior_report_path report do %>
                    <i class="fa fa-edit"></i>&emsp;Edit
                  <% end %>
                </td>
                <td>
                  <%= link_to '<i class="fa fa-times"></i>&emsp;Remove'.html_safe, {controller: "behavior_reports", action: "remove", id: report}, data: {confirm: 'Are you sure you would like to remove this report?'}, class: "text-danger" %>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
      <div class="panel-footer">
        <%= link_to client_path(format: "xlsx", export: "reports"), class: "btn btn-success" do %>
          <i class="fa fa-file-excel-o"></i>&emsp;Export
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="new-behavior">
  <%= form_for Behavior.new, layout: :basic do | f | %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Add a Behavior</h1>
            <%= f.text_field :description %>
            <%= f.hidden_field :client_id, :value => @client.id %>
          </div>
          <div class="modal-footer">
            <%= f.submit class: "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
