<% content_for :title, "View Client #{@client.id}" %>

<div class="row text-center">
  <div class="small-12 columns">
    <h1><%= @client.last_name %></h1>
    <h4>Client ID: <%= @client.id %></h4>
    <hr />
  </div>
</div>

<div class="row text-center">
  <div class="small-12 columns">

    <div class="panel">

      <h3>Assigned Behaviors</h3>
      <table id="behaviors">
        <thead>
          <tr>
            <th>Behavior</th>
            <th>Times Reported</th>
            <th>Occurrences</th>
            <th width="125">Edit</th>
            <th width="125">Delete</th>
          </tr>
        </thead>
          <% @client.behaviors.active.each do | behavior | %>
            <tr>
              <td><%= behavior.description %></td>
              <td><%= behavior.report_count %></td>
              <td><%= behavior.occurrence_count %></td>
              <td>
                <%= link_to edit_behavior_path behavior do %>
                  <i class="fa fa-edit"></i>&emsp;Edit
                <% end %>
              </td>
              <td>
                <%= link_to controller: "behaviors", :action => "remove", :id => behavior, data: { confirm: "Do you wish to proceed?" } do %>
                  <i class="fa fa-trash"></i>&emsp;Delete
                <% end %>            
              </td>
            </tr>
          <% end %>
      </table>

      <a href="#" data-reveal-id="new-behavior" class="button">
        <i class="fa fa-plus"></i>&emsp;Add Behavior
      </a>

    </div>

  </div>
</div>

<div class="row text-center">
  <div class="small-12 columns">

    <div class="panel">

      <h3>Behavior Reports</h3>
      <table id="reports">
        <thead>
          <tr>
            <th>Behavior</th>
            <th width="135">Occurrences</th>
            <th>Reported On</th>
            <th>Delete</th>
          </tr>
        </thead>
          <% @client.behavior_reports.active.each do | report | %>
            <tr>
              <td><%= report.behavior.description %></td>
              <td><%= report.occurrences %></td>
              <td><%= report.timestamp %></td>
              <td>
                <%= link_to controller: "behavior_reports", :action => "remove", :id => report, data: { confirm: "Do you wish to proceed?" } do %>
                  <i class="fa fa-trash"></i>&emsp;Delete
                <% end %> 
              </td>
            </tr>
          <% end %>
      </table>

    </div>

  </div>
</div>

<div class="reveal-modal" id="new-behavior" data-reveal>
  <div class="row text-center">
    <div class="small-12 medium-8 medium-centered columns">
      <h1>Add a Behavior</h1>
      <%= form_for Behavior.new do | f | %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.hidden_field :client_id, :value => @client.id %>
        <%= f.submit class: "button expand" %>
      <% end %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>