<div class="row text-center">
  <div class="small-12 columns">
    <h1><%= @client.last_name %></h1>
    <h4>Client ID: <%= @client.id %></h4>
    <hr />
  </div>
</div>

<div class="row text-center">
  <div class="small-12 columns">
    <h3>Assigned Behaviors</h3>
    <table>
      <thead>
        <tr>
          <th>Behavior</th>
          <th width="125">Edit</th>
          <th width="125">Delete</th>
        </tr>
      </thead>
        <% @client.behaviors.each do | behavior | %>
          <tr>
            <td><%= behavior.description %></td>
            <td>
              <%= link_to edit_behavior_path behavior do %>
                <i class="fa fa-edit"></i>&emsp;Edit
              <% end %>
            </td>
            <td>
              <%= link_to behavior, method: :delete, data: { confirm: "Do you wish to proceed?" } do %>
                <i class="fa fa-trash"></i>&emsp;Delete
              <% end %>            
            </td>
          </tr>
        <% end %>
    </table>

    <%= link_to new_behavior_path, class: "button expand" do %>
      <i class="fa fa-plus"></i>&emsp;Add Behavior
    <% end %>
  </div>
</div>