<% content_for :title, "Deletion History" %>

<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center">Database Cleanups</h1>
    <p class="text-center">Below is a list of all previous database cleanings and how much data was deleted during each cleanup.</p>
    <hr />
    <div class="panel">
      <table id="maintenances">
        <thead>
          <tr>
            <th class="all" width="200">User</th>
            <th class="min-tablet-l">Reports</th>
            <th class="min-tablet-l">Behaviors</th>
            <th class="min-tablet-l">Clients</th>
            <th class="all">Total Deleted</th>
            <th class="desktop">Date Performed</th>
          </tr>
        </thead>
        <tbody>
          <% @maintenances.each do | maint | %>
            <tr>
              <td><%= maint.user.email %></td>
              <td><%= maint.reports_deleted %></td>
              <td><%= maint.behaviors_deleted %></td>
              <td><%= maint.clients_deleted %></td>
              <td><%= maint.total_deleted %></td>
              <td><%= maint.timestamp %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center">User Deletes</h1>
    <p class="text-center">This is a list of all users that have been deleted and which users invoked the delete.</p>
    <hr />
    <div class="panel">
      <table id="userdeletes" class="responsive no-wrap">
        <thead>
          <tr>
            <th class="min-tablet-p">Invoking User</th>
            <th class="all">Deleted User</th>
            <th class="min-tablet-l">Date Performed</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do | del | %>
            <tr>
              <td><%= del.user.email %></td>
              <td><%= del.deleted_user %></td>
              <td><%= del.timestamp %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
