.panel.panel-default
  - if user_signed_in?
    .panel-heading
      %span
        Your last sign in was at
        %strong= current_user.last_sign_in_central
        by
        %strong= current_user.last_sign_in_ip
  .panel-body
    %small
      = fa_icon 'check-circle'
      #{"&nbsp;".html_safe}Einstein #{`git describe --always`}
    - if Rails.env.development?
      %hr
      = debug(params)
