<nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Einstein", clients_path, class: "show-for-large-up" %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <li>
        <%= link_to users_path do %>
          <i class="fa fa-group"></i>&emsp;Users
        <% end %>
      </li>
    
      <li>
        <%= link_to clients_path do %>
          <i class="fa fa-medkit"></i>&emsp;Clients
        <% end %>
      </li>

      <li class="has-dropdown">
        <a href="#"><i class="fa fa-file-o"></i>&emsp;Reports</a>
        <ul class="dropdown">
          <li>
            <%= link_to behavior_reports_path(format: "xlsx") do %>
              <i class="fa fa-file-excel-o"></i>&emsp;Export Behavior Reports
            <% end %>
          </li>
          <li>
            <%= link_to behaviors_path(format: "xlsx") do %>
              <i class="fa fa-file-excel-o"></i>&emsp;Export Behaviors
            <% end %>
          </li>            
          <li>
            <%= link_to clients_path(format: "xlsx") do %>
              <i class="fa fa-file-excel-o"></i>&emsp;Export Clients
            <% end %>
          </li>

        </ul>
      </li>

      <li class="has-dropdown">
        <a href="#"><i class="fa fa-database"></i>&emsp;Data</a>
        <ul class="dropdown">
          <li>
            <%= link_to maintenances_path do %>
              <i class="fa fa-history"></i>&emsp;Deletion History
            <% end %>
          </li>
          <li>
            <%= link_to maintenances_disclaimer_path do %>
              <i class="fa fa-warning"></i>&emsp;Clean Database
            <% end %>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to edit_user_path current_user do %>
          <i class="fa fa-gear"></i>&emsp; Edit Profile
        <% end %>
      </li>

      <li>
        <%= link_to destroy_user_session_path, :method => :delete, class: "item", id: "logout" do %>
          <i class="fa fa-sign-out"></i>&emsp;Log Out
        <% end %>
      </li>
    </ul>
  </section>

</nav>